In [2]:
import pandas as pd
import numpy as np

In [3]:
# Step 1: read the original data
qPCR_path = '/home/penguin/Documents/qPCR/Data/2019-07-13_TS576 Plate1.xls' 
qPCR_results = pd.read_excel(
    qPCR_path,
    sheet_name='Results',
    skiprows=43,
    usecols=[3,4,15], # Fix later: should use individual Ct values in column 14;
    #column 14 contains word 'undetermined' instead of values in some cells,
    #which causes trouble in Step 2
    #column 15 contains mean values calcualted by QuantStudio based on column 14
    skipfooter=5,
    names=['Sample_Name','Target_Gene','Ct_Mean'])
qPCR_results.head()

  Sample_Name Target_Gene    Ct_Mean
0    TS576 2D       GAPDH  22.843178
1    TS576 2D       GAPDH  22.843178
2    TS576 2D       GAPDH  22.843178
3    TS576 2D        ABCG  34.719913
4    TS576 2D        ABCG  34.719913

In [4]:
qPCR_results['Sample_Name'].value_counts() #Check samples

Stiff single       18
Soft coculture     18
Soft single        18
Stiff coculture    18
TS576 2D           18
Water               6
Name: Sample_Name, dtype: int64

In [5]:
qPCR_results['Target_Gene'].value_counts() #Check genes

SPP1     16
GAPDH    16
ABCG     16
CCNA2    16
ABCB1    16
MGMT     16
Name: Target_Gene, dtype: int64

In [6]:
# Step 2: reorganize the data
means = qPCR_results.groupby(["Sample_Name","Target_Gene"]).mean()
# is it possible generate 3 seperate tables?
# each cell below represents the mean calculated from 3 values
means.unstack()

                   Ct_Mean                                              \
Target_Gene          ABCB1       ABCG      CCNA2      GAPDH       MGMT
Sample_Name
Soft coculture   32.344807  32.096264  25.180128  20.757990  29.303553
Soft single            NaN  33.936035  24.690702  20.803167  30.027712
Stiff coculture  32.807613  30.500839  25.164297  21.641981  29.772627
Stiff single           NaN  33.201859  25.165436  21.615515  30.134100
TS576 2D               NaN  34.719913  25.394928  22.843178  30.836946
Water                  NaN        NaN        NaN        NaN        NaN


Target_Gene           SPP1
Sample_Name
Soft coculture   27.009600
Soft single      26.966507
Stiff coculture  26.985018
Stiff single     27.120132
TS576 2D         29.446600
Water                  NaN

In [28]:
## 2020.06.10

qPCR_path = '/home/penguin/Documents/qPCR/Data/2019-07-13_TS576 Plate1.xls' 
qPCR_results = pd.read_excel(
    qPCR_path,
    sheet_name='Results',
    skiprows=43,
    usecols=[3,4,14],
    skipfooter=5,
    names=['Sample_Name','Target_Gene','Ct_Mean'])
qPCR_results.head()

  Sample_Name Target_Gene  Ct_Mean
0    TS576 2D       GAPDH   22.693
1    TS576 2D       GAPDH   22.965
2    TS576 2D       GAPDH  22.8716
3    TS576 2D        ABCG  34.5603
4    TS576 2D        ABCG  34.6314

In [35]:
# Step 2: Replace spaces in names
Example_name = qPCR_results['Sample_Name'][0]
Example_name

'TS576 2D'

In [42]:
def edit_names(sample):
    for names in qPCR_results['Sample_Name']:
        names = names.replace(" ","_")
        break
    return names
edit_names(Example_name)

'TS576_2D'

In [43]:
Sample_names = qPCR_results['Sample_Name'].apply(edit_names)
Sample_names #??????

0     TS576_2D
1     TS576_2D
2     TS576_2D
3     TS576_2D
4     TS576_2D
        ...
91    TS576_2D
92    TS576_2D
93    TS576_2D
94    TS576_2D
95    TS576_2D
Name: Sample_Name, Length: 96, dtype: object